.card:hover .card-img {
    scale: 1.2;
    transition: all ease-in 0.5s;
    opacity: 0.75;
}

.card-img {
    transition: all ease-in 0.5s;
    height: 200px;
}

.card-img-warpper {
    overflow: hidden;
}

.card:hover {
    cursor: pointer;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}